@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    min-height: 700px;
    margin-bottom: 70px;
}

.mainTag { 
	display: flex;
	justify-content: flex-end;
}

.mainTag  #mainBtn,.mainTag #deletedBtn,.mainTag #editBtn {
	margin-right: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.post-info {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.post-info th {
	width: 10%;
    text-align: left;
    padding-right: 10px;
    color: #666;
}

.fileName {
    width: 20%;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 80%;
}

.reply {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.reply>.reply_flex {
	display: flex;
}

.r_nickname {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid black;
}

.reply:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.reply-text {
    margin-top: 10px;
    color: #333;
}
.reply-form {
    margin-top: 20px;
}

.reply-form textarea {
	width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: none;
}

.rForm_flex {
	display: flex; 
	width: 100%; 
	justify-content: flex-end; 
	align-items: center;
}

.rForm_secret{
	margin-right: 10px;
}

.nested-reply {
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}


.mainTag  #mainBtn, .mainTag #deletedBtn, .mainTag #editBtn, .mainTag #replyBtn {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #c79fe4;
    color: #ffffff;
    cursor: pointer;
}

.commentBtn {
    border: none;
    border-radius: 5px;
    background-color: #c79fe4;
    color: #ffffff;
    cursor: pointer;
}

.mainTag  #mainBtn:hover, .mainTag #deletedBtn:hover, .mainTag #editBtn:hover, .mainTag #replyBtn:hover, .commentBtn:hover {
    background-color: #a26ec8;
}

 
.n_reply_button>span {
  margin-right: 12px;
  color: #D3D3D3;
  font-size: 13px;
}
 
.n_reply_button>button{
	background-color: unset;
	border: none;
	padding: 0;
	color: #D3D3D3;
	cursor: pointer;
}