<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게시글 상세 정보</title>
<link rel="stylesheet" type="text/css" href="/css/detailpage.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/detailpage.js"></script>
</head>
<body>
<div th:replace="include/header.html"></div>
<main>
<div class="container">
	<div class="mainTag">
	<a th:if="${( #authentication.principal != 'anonymousUser' ? #authentication.principal.user : '') == board.user}" th:href="@{/bboard/edit(bnum=${board.bnum})}"><button id="editBtn" type="button">수정</button></a>
	<button id="deletedBtn" type="button" th:if="${( #authentication.principal != 'anonymousUser' ? #authentication.principal.user : '') == board.user}" th:onclick="deleted([[${board.bnum}]])" >삭제</button>
	<a href="/bboard/main"><button id="mainBtn" type="button">목록</button></a>
	<a sec:authorize="isAuthenticated()" th:if="${( #authentication.principal != 'anonymousUser' ? #authentication.principal.user : '') != board.user}" 
	th:href="@{/bboard/addreply(pbnum=${board.bnum})}"><button id="replyBtn" type="button">답글달기</button></a></div>
	<table class="post-info">
		<tr><th>작성자</th><td th:text="${board.user.nickName}"></td></tr>
		<tr><th>제목</th><td th:text="${board.title}"></td></tr>
		<tr th:each="f : ${attachs}">
			<td colspan="2" class="fileTd"><div class="fileName"><a th:href="@{/bboard/download(fname=${f.fname})}">[[${f.fname}]]</a></div></td>
		</tr>
		<tr><td colspan="2" th:utext="${board.content}"></td></tr>
	</table>
	<div class="rForm" sec:authorize="isAuthenticated()" >
	    <form class="reply-form" action="comment" method="post">
		   	<input type="hidden" name="bnum" th:value="${param.bnum}">
		       <textarea id="replyText" name="rText" rows="4" cols="50" placeholder="댓글을 입력하세요"></textarea><br>
		    <div class="rForm_flex">
			    <div class="rForm_secret"><label>비밀댓글</label>
			    <input type="checkbox" id="visibility" name="secret" value="Y"></div>
			    <div><button type="submit" class="commentBtn">댓글등록</button></div>
		    </div>
	    </form>
	</div>
	<div th:each="r : ${comments}">
		<div>
			<div th:if="${r.secret.toString() == 'N' or (r.user == ( #authentication.principal != 'anonymousUser' ? #authentication.principal.user : '' ) and r.secret.toString() == 'Y')
			or (r.board.user == ( #authentication.principal != 'anonymousUser' ? #authentication.principal.user : '')and r.secret.toString() == 'Y')}">
			    <div class="reply" th:classappend="${r.pReply != 0} ? 'nested-reply'">
				    <input type="hidden" id="rnum" th:value="${r.rnum}">
				    <input type="hidden" id="pReply" th:value="${r.pReply}">
				    <div class="reply_flex"><div class="r_nickname">[[${r.user.nickName}]]</div><div class="r_text">[[${r.rText}]]</div></div>
				    <div class="n_reply_button"><span th:text="${r.rDate}"></span><button class="nReply_button" th:onclick="toggleReplyForm('[[${r.rnum}]]')">답글쓰기</button></div>
			    </div>
			</div>
		     <div class="reply-form" th:id="${r.rnum}" style="display: none;">
		         <form id="replyForm" action="nestedreply" method="post">
		             <input type="hidden" name="pReply" th:value="${r.rnum}">
		             <input type="hidden" name="bnum" th:value="${param.bnum}">
		             <textarea name="rText" rows="2" cols="50" placeholder="댓글을 입력하세요"></textarea><br>
		             <div class="rForm_flex">
		             <div class="rForm_secret"><label>비밀댓글</label>
		             <input type="checkbox" id="replyVisibility" name="secret" value="Y"></div>
		             <button type="submit" class="commentBtn">댓글등록</button>
		             </div>
		         </form>
		     </div>
	     </div>
	</div>
</div>
</main>
<div th:replace="include/footer.html"></div>
</body> 
</html>